<!-- Template to show Cart -->

{% extends 'base/base.html' %}
{% block content %}

<div id="cart-container">
	<div id="cart-items">
		<table class="table" id="cart-items-table">
			<thead class="thead-light">
			  <tr>
				<th scope="col">S.No.</th>
				<th scope="col" colspan="2">Product Details</th>
				<th scope="col">Product Price</th>
			  </tr>
			</thead>
			<tbody>
				{% for product in cart.products.all %}
				<tr>
					<th scope="row">{{ forloop.counter }}.</th> 
					<td>
						<a href="/productdetails/{{product.id}}">
							<img src="{{product.image.url}}" id="product-image">
						</a>
					</td>
					<td>
						<a href="/productdetails/{{product.id}}">{{ product.title }}</a>
					</td>
					<td> &#8377; {{ product.price }}</td>
				</tr>
		    	{% endfor %}

				<tr>
					<td></td>
					<td></td>
					<td class="pricing">Subtotal</td>
					<td> &#8377; {{ cart.subtotal }} </td>
				</tr>
				<tr>
					<td></td>
					<td></td>
					<td class="pricing">Total <span class="tax-info">(Subtotal + 10% Tax)</span></td>
					<td>&#8377; {{ cart.total }}</td>
				</tr>
			</tbody>
		  </table>

		  <button type="button" id="checkout-button" class="btn btn-success"><a href="/cart/checkout" style="color: white !important;">Checkout</a></button>
	</div>    

{% endblock %}
