{% extends 'base/base.html' %}
{% block content %}

{% if not billing_profile %}  <!-- if billing profile is not set then LoginForm and GuestForm will be shown -->

<div id="login-form-container" class="guest">        
	<div id="content">
		<div id="login-form-content">
			<form id="login-form" method="POST" action="/login/">
				{% csrf_token %}
				{{ loginform }}

				<input type="hidden" value="{{next_url}}" name="next">

				<input type="submit" value="Login" id="submit-btn" class="btn btn-block">
			</form>
		</div>

		<div class="line-separator"></div>

		<div id="guest-login-form-content">
			<!-- <p id="guest-text">You can login as Guest</p> -->
			<form id="guest-login-form" method="POST" action="/guest_register/">
				{% csrf_token %}
				{{ guestform }}

				<input type="hidden" value="{{next_url}}" name="next">
				<input type="submit" value="Guest Login" id="submit-btn" class="btn btn-block">
			</form>
		</div>
	</div>
</div>


{% else %}

	{% if not object.shipping_address %} <!-- if shipping address is none then -->
	<div id="address-form-container">
        <div id="address-form-section">
            <div id="heading">
                <h3 class="heading-text">Shipping Address</h3>
            </div>
			<form id="address-form" method="POST" action="/checkout_address/">
				{% csrf_token %}
				{{ addressform }}
				
				{% if address_type %}
				<input type="hidden" name="address_type" value="{{ address_type }}"> 
				{% endif %}

				<input type="hidden" name="next" value="{{ next_url }}">
                <input type="submit" value="Submit" class="btn btn-success" id="submit-btn" style="float: right;">
            </form>
        </div>

		{% if address_qs.exists %}
        <div id="address-reuse-section">
			<form id="address-reuse-form" method="POST" action="/checkout_address_reuse/">
				{% csrf_token %}
				{% for address in address_qs %}

				<label for="address-{{address.id}}">  
					<input id="address-{{address.id}}" type="radio" name="shipping_address" value="{{address.id}}"/>
					<span id="radio-btn-text">
						{{ address.address_line_1 }}, {{ address.address_line_2 }}, {{ address.city }}, 
						{{address.state }} {{ address.pincode }}
					</span>
				</label>
	
				{% endfor %}
	
				{% if next_url %}
				<input type="hidden" name="next" value="{{ next_url }}">
				{% endif %}
	
				<input type="hidden" name="address_type" value="shipping_address">
				<br>
                <input type="submit" class="btn btn-success btn-block" id="submit-btn" value="Use this address">
            </form>
		</div>
		{% endif %}
	</div>
	
	{% elif not object.billing_address %}

	<div id="address-form-container">
        <div id="address-form-section">
            <div id="heading">
                <h3 class="heading-text">Billing Address</h3>
            </div>
			<form id="address-form" method="POST" action="/checkout_address/">
				{% csrf_token %}
				{{ addressform }}
				
				{% if address_type %}
				<input type="hidden" name="address_type" value="billing"> 
				{% endif %}

				<input type="hidden" name="next" value="{{ next_url }}">
                <input type="submit" value="Submit" class="btn btn-success" id="submit-btn" style="float: right;">
            </form>
        </div>

		{% if address_qs.exists %}
        <div id="address-reuse-section">
			<form id="address-reuse-form" method="POST" action="/checkout_address_reuse/">
				{% csrf_token %}
				{% for address in address_qs %}

				<label for="address-{{address.id}}">  
					<input id="address-{{address.id}}" type="radio" name="shipping_address" value="{{address.id}}"/> 
					<span id="radio-btn-text">
						{{ address.address_line_1 }}, {{ address.address_line_2 }}, {{ address.city }}, 
						{{address.state }} {{ address.pincode }}
					</span>
				</label>
	
				{% endfor %}
	
				{% if next_url %}
				<input type="hidden" name="next" value="{{ next_url }}">
				{% endif %}
	
				<input type="hidden" name="address_type" value="billing_address"> 
				<br>
                <input type="submit" class="btn btn-success btn-block" id="submit-btn" value="Use this address">
            </form>
		</div>
		{% endif %}
	</div>

	{% else %}

	{% if not has_card %} 	<!-- if billing profile has no card info -->

	<div class="new-card-section">
        <p>You have no saved cards!</p>
        <form id="add-new-card" method="GET" action="/payment_method">
			{% csrf_token %}

			<input type="hidden" name="next" value="{{next_url}}">
            <button type="submit" id="submit-btn" class="btn btn-primary btn-block">Add new card</button>
        </form>
    </div>

	{% else %}

	<div id="order-details-container">
        <div id="heading">
            <h4 class="heading-text">Order Details</h4>
        </div>
        <div id="order-details">
            <div id="content-1">
                <div class="payment-details">
                    <p>Payment Method</p>
                    <div class="details-text">
                        {{billing_profile.default_card}}
                    </div>
                </div>
                <div class="address-details">
                    <div class="shipping-address">
                        <p>Shipping address</p>
                        <div class="details-text">
                            {{ billing_profile.user }} <br>
							{{ object.shipping_address.address_line_1 }} ,
							{{ object.shipping_address.address_line_2 }},
							{{ object.shipping_address.city }} <br>
							{{ object.shipping_address.pincode }}
							{{ object.shipping_address.state }}
                        </div>
                    </div>
                    <div class="billing-address">
                        <p>Billing address</p>
                        <div class="details-text">
							{{ billing_profile.user }} <br>
							{{ object.billing_address.address_line_1 }} ,
							{{ object.billing_address.address_line_2 }},
							{{ object.billing_address.city }} <br>
							{{ object.billing_address.pincode }}
							{{ object.billing_address.state }}
                        </div>
                    </div>
                </div>
            </div>

            <div id="content-2">
                <div class="col-md-10 order-md-2 mb-4">
                    <h4 class="d-flex justify-content-between align-items-center mb-3">
                      <span class="text-muted">Your cart</span>
                      <span class="badge badge-secondary badge-pill">{{ request.session.cart_items }}</span>
                    </h4>

                    <ul class="list-group mb-3">
						{% for product in cart.products.all %}

						<li class="list-group-item d-flex justify-content-between lh-condensed">
						  <div>
							<h6 class="my-0">{{ product.title }}</h6>
							<small class="text-muted">{{ product.description|truncatewords:10 }}</small>
						  </div>
						  <span class="text-muted"> &#8377; {{ product.price }}</span>
						</li>
				
						{% endfor %}
				
						<li class="list-group-item d-flex justify-content-between">
						  <span> Shipping Charges  </span>
						  <strong> &#8377; {{ object.shipping_total }}</strong>
						</li>
						<li class="list-group-item d-flex justify-content-between">
						  <span>Total </span>
						  <strong> &#8377; {{ object.total }}</strong>
						</li>
                    </ul>

                    <div class="confirm-order">
                        <form method="POST">
							{% csrf_token %}
							
                            <button type="submit" class="btn btn-block btn-success">Confirm Checkout</button>
                        </form>
                    </div>
            </div>
        </div>
    </div>
    
	{% endif %}

</div>


{% endif %}

{% endif %}

{% endblock %}
