{% extends 'base/base.html' %}
{% block content %}

<div id="body">
<div class="about-text">
	<div id="about-header">
		<h1 class="header-text"> About us </h1>
	</div>
	<div id="text">
		<span> We at Ecommerce, are ready to deliver consumer goods and services. Our people are continously trying to enhance the quality in these major areas.

			<ol class="areas-list">
				<li class="areas-item"> Packaging </li>
				<li class="areas-item"> Delivering </li>
				<li class="areas-item"> After Sell Service  </li>
				<li class="areas-item"> User Interface </li>
			</ol>
		</span>

		<p class="description"> In India, we are the first to deliver in only 6 hours in any state, district or a village. This is the our USP. We will be providing services like <strong class="about-text">Drone Delivery, Prime Membership & Entertainment Content.</strong> </p>

		<div class="important-text">
			<h3> Key features to Our Customers </h3>
			<p class="features-text"> We made easy delivery at doorstep. Every year 3 mega sale offers are provided to ease the sustainbility of our services. As our team is fulfilled by highly skilled persons. There is always a demand of creative ideas. </p>

			<div class="prime-box">
				<div class="prime-content">
				<h4> Prime Membership </h4>
				<ul class="prime-member">
					<li class="member"> Early Access to sale </li>
					<li class="member"> Exciting Rewards </li>
					<li class="member"> Lazy Pay </li>
				</ul>
				</div>
		    </div>
			
		</div>


	</div>
</div>
</div>
</body>
</html>

{% endblock %}