{% extends 'base/base.html' %}
{% block content %}

<div id="about-us">
	<div id="about-header">
		<h1 class="header-text"> About us </h1>
	</div>
	<div id="about-text">
		<p> We at Ecommerce, are ready to deliver consumer goods and services. Our people are continously trying to enhance the quality in these major areas.

			<ol class="areas-list">
				<li> Packaging </li>
				<li> Delivering </li>
				<li> After Sell Service  </li>
				<li> User Interface </li>
			</ol>
		</p>

		<p class="about-description"> In India, we are the first to deliver in only 6 hours in any state, district or a village. This is the our USP. We will be providing services like <strong class="about-text">Drone Delivery, Prime Membership & Entertainment Content.</strong> </p>

		<div class="important-text">
			<h3> Key features to Our Customers </h3>
			<p> We made easy delivery at doorstep. Every year 3 mega sale offers are provided to ease the sustainbility of our services. As our team is fulfilled by highly skilled persons. There is always a demand of creative ideas. </p>
		</div>
		<div class="important-text">
			<h3> Prime Membership </h3>
			<ul class="prime-membership">
				<li> Early Access to sale </li>
				<li> Exciting Rewards </li>
				<li> Lazy Pay </li>
				<li>OTT subscription free</li>
			</ul>
		</div>
	</div>
</div>

{% endblock %}