<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=yes">
    {% load static %}

    <link rel="shortcut icon" href="{% static 'image/icon.png' %}" type="image/x-icon">

    <title> {{ title }} </title>  <!-- this is key in every context -->

   
    
    <!-- accounts css -->
    <link rel="stylesheet" href="{% static 'accounts/css/login.css' %}">
    <link rel="stylesheet" href="{% static 'accounts/css/registration.css' %}">

    <!-- cart css -->
    <link rel="stylesheet" href="{% static 'cart/css/cart.css' %}">
    <link rel="stylesheet" href="{% static 'cart/css/checkout.css' %}">
    <link rel="stylesheet" href="{% static 'cart/css/card.css' %}">

    <!-- order details css -->
    <link rel="stylesheet" href="{% static 'order/css/orderDetails.css' %}">

    <!-- front css --> 
    <link rel="stylesheet" href="{% static 'front/css/home.css' %}">
    <link rel="stylesheet" href="{% static 'front/css/productDetails.css' %}">

    <!-- base css -->
    <link rel="stylesheet" href="{% static 'css/base.css' %}">
    <link rel="stylesheet" href='{% static "css/navbar.css" %}'>
    <link rel="stylesheet" href="{% static 'css/success.css' %}">
    <link rel="stylesheet" href="{% static 'css/footer.css' %}">
    <link rel="stylesheet" href="{% static 'css/aboutus.css' %}">
    <link rel="stylesheet" href="{% static 'css/bootstrap.css' %}">

    {% include 'base/css.html' %}

  </head>

<body>
  <div class="page-container web-container">
    <div class="content-wrap">
      {% include 'base/navbar.html' %}

      <!-- {% include 'base/header.html' %} -->

      {% block content %}   
      <!-- we can specify any other name for block and endblock to enhance readbility -->

      {% endblock %}

      {% include 'base/footer.html' %}
  
    </div>   

    {% include 'base/js.html' %}
    
  </div>
</body>
</html>
