{% load static %}

<nav id="main-navbar">
  <div class="logo">
      <a href="/"><img src="{% static 'image/logo.png' %}" alt="Website logo" id="website-logo"></a>
  </div>

  <div id="search-form">
      <form class="form-inline" action="/search">
          <input class="form-control" type="search" placeholder="search items" aria-label="Search" name = "search">
          <button class="btn my-2 my-sm-0" type="submit"><i class="fas fa-search" id="search-icon"></i></button>
        </form>
  </div>

  <div id="nav-item-list">
      <ul class="nav-items">
        <li class="nav-item">
            <a href="/productpage">Products</a>
        </li>
          <li class="nav-item">
              <a href="/productpage">Men</a>
          </li>
          <li class="nav-item">
              <a href="/productpage">Women</a>
          </li>
          <li class="nav-item">
              <a href="/productpage">Kids</a>
          </li>
          <li class="nav-item">
              <a href="#">Offers</a>
          </li>
      </ul>
  </div>

<div id="icons">
    <div class="icon user-icon">
        <i class="fas fa-user"></i>
    </div>
    <div class="icon shopping-cart-icon">
        <a class="nav-link" href="/cart">
            <span style="margin-top: -10px; font-size: 8px;" class="badge badge-danger"> {{ request.session.cart_items }}</span>
            <i class="fas fa-shopping-cart"> </i>
        </a>
    </div>

    <div class="icon hamberger-icon">
        <i class="fas fa-bars"></i>
    </div>
</div>

  <div class="user-section">
      <div class="content">
          {% if 'username' in request.session %}
          <div class="user-info">
              <p><a href="#">{{ user_data.name }}</a></p>
              <p><a href="#">My Wishlist</a></p>
              <p><a href="/cart">My Cart</a></p>
              <p><a href="/updatepassword">Update Password</a></p>
              <p><a href="/logout">Log Out</a></p>
          </div>
          
          {% else %}
          <div class="guest-content">
              <p class="welcome-text">
                  <span class="text">WELCOME</span> <br>
                  To personalize the experience login or register now <br>

                  <button class="choice-btn">
                      <a href="/login">Login/Register</a>
                  </button>
              </p>
              <h3>Contact Us</h3>
              <h3>Our Privacy Policy</h3> 
              <br>
              <!-- <img src="img/offer.png" alt="Offer Image"> -->
          </div>

          {% endif %}
      </div>
  </div>

  <div class="hamberger-section">
    <ul class="nav-items hamberger-items">
        <li class="nav-item hamberger-item">
            <a href="/productpage">Men</a>
        </li>
        <li class="nav-item hamberger-item">
            <a href="/productpage">Women</a>
        </li>
        <li class="nav-item hamberger-item">
            <a href="/productpage">Kids</a>
        </li>
        <li class="nav-item hamberger-item">
            <a href="/productpage">New collection</a>
        </li>
        <li class="nav-item hamberger-item">
            <a href="/productpage">Offers</a>
        </li>
    </ul>
</div>
</nav>


