#about-us {
    width: 70vw;
    margin: 3rem auto;
}

ul {
    list-style: none;
}

#about-header {
    background-color: #7395ae;
    padding: 0.5rem 1rem;
    border-radius: 4px;
}

h1.header-text {
    color: white;
    font-weight: 800;    
}

#about-text {
    padding: 1rem 2rem;
}

#about-text p {
    font-size: 1.3rem;
    font-weight: 500;
}

#about-text ol.areas-list {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    justify-content: center;
    margin: auto;
    list-style-position: inside;
}

#about-text .areas-list li {
    margin: 0.5rem 1rem;
    font-weight: 800;
}

p.about-description {
    border-top: 1px solid #e4e4e4;
    padding: 0.7rem 2rem;
}

.important-text {
    margin-bottom: 1.3rem;
}

div.important-text h3 {
    border-bottom: 1px solid #e4e4e4;
    padding-bottom: 0.3rem;
    display: inline-block;
    font-weight: 800;
}

ul.prime-membership {
    margin: auto;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    justify-content: center;
}

ul.prime-membership li {
    margin: 0.5rem 1rem;
    padding: 0.7rem 1.3rem;
    list-style: none;
    background-color: #7395ae;
    color: white;
}

@media (max-width: 960px) {
    #about-us {
        width: 99vw;
        text-align: justify;
    }

    #about-text {
        padding: 1rem;
    }
    
    #about-header .header-text {
        font-size: 1.7rem;
    }

    #about-text p {
        font-size: 1rem;
    }

    #about-text ol.areas-list {
        grid-template-columns: 1fr;
    }

    ol.areas-list li {
        margin-top: 0.3rem;
        margin-bottom: 0.6rem;
    }

    p.about-description {
        padding: 1rem 1rem;
       
    }

    .important-text h3 {
        font-size: 1.5rem;
    }

    ul.prime-membership {
        display: block;
    }

    ul.prime-membership li {
        padding: 0.5rem 1rem;
    }
}
