body {
	margin: 0px; 
	padding: 0px;
}

a:link {
  text-decoration: none; 
  color: #ab5485;
}

a:visited , a:hover {
	text-decoration: none;
	color: #ab5485;
}

a.change-link:hover {
	text-decoration: none;
  	color: #ab5485;
}

a.change-link:link {
	text-decoration: none;
  	color: #ab5485;

}


a.checkout-button:link , a.checkout-button:visited  { 
	color: #FFF; 
}


a#subcategory-item:hover {
	text-decoration-line: none;
	color: #000;
}


label[ for = 'id_for_username'] , label[for = 'id_for_password'] {
	display: none;
}

.list-group-item {
  position: relative;
  display: block;
  padding: 0.75rem 1.25rem;
  background-color: #fff;
  border: 1px solid rgb(0, 0, 0);
}

.list-group-item:first-child {
  border-top-left-radius: inherit;
  border-top-right-radius: inherit;
}

.list-group-item:last-child {
  border-bottom-right-radius: inherit;
  border-bottom-left-radius: inherit;
}

.justify-content-between {
  -ms-flex-pack: justify !important;
  justify-content: space-between !important;
}

*, ::after, ::before {
    box-sizing: border-box;
}

div.order-successful { 
	border: 1px solid #000;
	margin: 0px auto 0px auto;
	margin-top: 100px;
	border-radius: 7px;
	padding-top: 5px;
	width: 50%;
}


pre {
	white-space: pre-wrap;
}

@media (max-width: 960px) {
	div.order-successful {
		width: 90%;
	}

}