ul {
    list-style: none;
    padding: 0;
    margin: 0 !important;
}

a {
    color: #000 !important;
    text-decoration: none;
}

a:hover {
    text-decoration: none !important;
    opacity: 0.5;
}

#website-logo {
    width: 200px;
}

/* styling navbar */
#main-navbar {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    text-align: center;
    width: 100%;
    border-bottom: 1px solid #f1f1f1;
    padding-bottom: 0.4rem;
}

#nav-item-list .nav-items{
    display: flex;
    justify-content: space-around;
    align-items: center;
    text-align: center;
    flex: 1 1;
}

.nav-item {
    margin-left: 2rem;
    padding: 0.5rem;
    font-size: 1rem;
    font-weight: bolder;
    color: black;
    text-transform: uppercase;
    font-family: "Roboto", "Open Sans", sans-serif;
    letter-spacing: 0.03em;
}

.nav-item a:hover {
    border-bottom: 1px solid #3d3d3d;
    opacity: 0.4;
}

#icons {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    text-align: center;
    flex: 1 1;
    margin-right: 5px;
}

.icon {
    padding: 0 0.3rem;
}


.icon:hover {
    opacity: 0.4;
    cursor: pointer;
}


input[type="search"] {
    height: 1.8rem;
    width: 5rem;
    font-family: "Open Sans", sans-serif;
}


/* styling user section */
.user-section,
.hamberger-section {
    position: absolute;
    top: 10.7vh;
    right: 3px;
    height: 88vh;
    width: 25vw;
    transform: translateX(400px);
    transition: transform 600ms ease;
    display: none;
    z-index: 10;
}

.show-user-section {
    transform: translateX(0%);
    display: block;
}

.user-section .content {
    background-color: rgb(238, 238, 238);
    height: 100%;
    padding: 2rem;
    text-align: left;
}

.user-info p {
    font-size: 1.2rem;
    font-weight: 100;
    font-family: "Roboto", "Open Sans", sans-serif;
    border-bottom: 1px solid #d3d3d3;
    padding-bottom: 0.5rem;
}



/* styling guest-content */
.guest-content p {
    font-size: 1.1rem;
    line-height: 1.2;
}

.welcome-text {
    margin-bottom: 2rem;
}

.guest-content .text {
    font-size: 1.6rem;
    font-weight: 500;
}

.guest-content .choice-btn {
    display: inline-block;
    margin-top: 1.5rem; 
    padding: 1rem 2rem;
    width: 100%;
    border: none;
    background-color: #7395ae;
    color: #f2f2f2;
}

.guest-content .choice-btn a {
    color: #fff !important;
    font-size: 1.1rem;
    font-weight: 600;
    word-spacing: 2;
}

.choice-btn:hover {
    opacity: 0.8;
}

.guest-content img {
    width: 100%;
}

.guest-content h3 {
    border-bottom: 1px solid #d3d3d3;
    padding-bottom: 0.5rem;
    margin-bottom: 1.2rem;
    font-size: 1.3rem;
}


/* 
.user-info,
.guest-content {
    display: none;
} */
/* 
.show {
    display: block;
} */

.hamberger-icon {
    display: none;
}

.hamberger-section {
    display: none;
    transform: translateX(0%);
    background-color: rgba(238, 238, 238);
    padding: 2rem;

}

.hamberger-section ul.hamberger-items {
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    text-align: left;
}

.hamberger-items .hamberger-item {
    margin-bottom: 1rem;
    margin-left: 0px;
    padding: 0rem;
    font-size: 0.8rem;
    border-bottom: 1px solid #d3d3d3;
    padding-bottom: 0.5rem; 
}

.hamberger-item a:hover {
    border: none;
}

/* screen sizes less than 1100px */
@media screen and (max-width: 1100px){
    #nav-item-list {
        display: none;
    }
}

/* screen size less than 700px */
@media screen and (max-width: 960px) {
    #nav-item-list {
        display: none;
    }

    #website-logo {
        width: 130px;
    }

    input[type="search"] {
        height: 1.5rem;
        width: 80%;
    }

    #search-icon {
        display: none !important;
    }

    .user-section,
    .hamberger-section {
        width: 50vw;
        height: 50vh;
        border-radius: 5px;
        top: 50px;
    }

    .user-section .content {
        padding: 1.5rem;
    }

    .user-info p {
        font-size: 1rem;
    }

    .guest-content .text{
        font-size: 1.1rem;
    }

    .guest-content p {
        font-size: 0.9rem;

    }

    .guest-content .choice-btn {
        padding: 0.5rem 1rem;
    }

    .guest-content .choice-btn a {
        font-size: 1rem;
    }

    .guest-content h3 {
        border-bottom: 1px solid #d3d3d3;
        padding-bottom: 0.5rem;
        margin-bottom: 1.2rem;
        font-size: 1rem;
    }

    .hamberger-icon {
        display: block;
    }

    .show-hamberger-content {
        display: block;
        /* top: 6.3vh; */
    }
}

@media (max-width: 500px) {
    #search-form {
        display: none;
    }
}