#order-details-container {
    width: 90vw;
    margin: auto;
    margin-bottom: 4rem;
}

#order-details-container #heading {
    background-color: #7395ae;
    border-radius: 5px;
    padding: 0.4rem 0.7rem;
    margin-top: 2rem;
    margin-bottom: 0.7rem;
}

#order-details-container #heading .heading-text {
    color: white;
    font-size: 1.5rem;
    font-weight: 700;
}

#order-details {
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: center;
}

#order-details #content-1,
#order-details #content-2 {
    padding: 0.2rem 1.3rem;
}

#order-details #content-2 {
    margin: 1.1rem 0.4rem;
}

#order-details .payment-details,
#order-details .shipping-address,
#order-details .billing-address {
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    margin: 1.1rem 0rem;
    padding-bottom: 1.3rem;
    border-bottom: 1px solid #d3d3d3;
}

#order-details .billing-address {
    border: none;
}

#order-details .details-text {
    width: 50%;
    height: auto;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 0.5rem 0.9rem;
    background-color: #f1f1f1;
    font-size: 0.9rem;
    line-height: 1.3;
}

#order-details-container #order-details p {
    margin-bottom: 0px;
    font-size: 1rem;
    font-weight: 500;
}

@media (max-width: 960px) {
    #order-details {
        grid-template-columns: 1fr;
    }

    #order-details #content-1 {
        order: 2;
    }

    #order-details #content-2 {
        border-bottom: 1px solid #e4e4e4;
    }

    #order-details .payment-details,
    #order-details .shipping-address,
    #order-details .billing-address {
        flex-direction: column;
        justify-content: space-between;
    }

    #order-details .details-text {
        width: 70%;
        margin-top: 0.8rem;
    }

    #order-details-container #order-details p {
        font-size: 1.2rem;
    }
}