{% extends 'base/base.html' %}
{% block content %}
{% load static %}

<div id="login-form-container">
    <img src="{% static 'accounts/image/offer.jpg' %}" alt="" id="offer-image">
    
    <div id="content">
        {% if messages %}
        <div class="message-section">
            {% for message in messages %}
            <p class="message-text">You are successfully registered!</p>
            {% endfor %}
        </div>
        {% endif %}
        <div id="login-form-content">
            <form id="login-form" method="POST">
                {% csrf_token %} 
                {{ form }}

                <input type="submit" value="Login" id="submit-btn" class="btn btn-block">
            </form>
        </div>

        <span id="separator">OR</span>

        <button id="registration-btn" class="btn btn-block"><a href="/registration" class="registration-link" >Register Now</a></button>
    </div>
</div>

{% endblock %}
