{% extends 'base/base.html' %}
{% block content %}
{% load static %}

<div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
  <div class="carousel-inner">
    <div class="carousel-item active">
      <a href="/productpage">
        <img src="{% static 'image/shopclues.jpg' %}" class="d-block w-100" alt="...">
      </a>
    </div>
    <div class="carousel-item">
      <a href="/productpage">
        <img src="{% static 'image/shopclues1.jpg' %}" class="d-block w-100" alt="...">
      </a>
    </div>
    <div class="carousel-item">
      <a href="/productpage">
        <img src="{% static 'image/shopclues2.jpg' %}" class="d-block w-100" alt="...">
      </a>
    </div>
  </div>
  <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</div>

{% endblock %}