{% extends 'base/base.html' %}
{% block content %}
{% load humanize %}  <!-- to human friendly content -->


<div class="col-md-11 col-sm-11 col-xs-11 mx-auto">
	<div class="row">
		<div class="card-deck">
			{% for product in products %}
			<div class="col-md-3 col-sm-5 col-xs-5">
			<div class="card mb-4 mt-2">
				<img class="card-img-top" style="height: 40vh;" src="{{product.image.url}}" alt="Card image cap">
				<div class="card-body">
				<h5 class="card-title">{{product.title|truncatewords:3}}</h5>
				<p class="card-text small">{{product.description|truncatewords:8}}</p>
				<p class="card-text"><strong>&#8377; {{product.price|intcomma }}</strong></p>
				</div>
				<div class="card-footer text-center" style="background-color: #7395ae;">
					<a href="/productdetails/{{product.id}}">
						<span style="color: white;">View Details</span>
					</a>
				</div>
			</div>
			</div>
			{% endfor %}
		</div>
	</div>
</div>

{% endblock %}
