{% extends 'base/base.html' %}
{% block content %}

<div id="product-details-container">
	<div id="heading">
		<h3 class="heading-text">Product Details</h3>
	</div>

	<div id="product-details">
		<div id="product-image-section">
			<img src="{{product.image.url}}" alt="" id="product-image">
		</div>
		<div id="product-info">
			<h2 class="product-title">{{product.title}} </h2>
			<pre class="product-description" style="font-family: 'Robot', 'Open Sans', sans-serif; font-size: 1rem; white-space: pre-line;">{{product.description}}</pre>

			<p class="product-price"> &#8377; {{product.price}} </p>

			<div class="buttons">
				<form method="POST" action="/cart/cartupdate/">
					{% csrf_token %}
		
					<input type="hidden" name="product_id" value="{{product.id}}">
		
						{% if product in cart.products.all %}
		
						<div class="btn-group">
							<button class="btn btn-primary"><a href="/cart" style="color: white !important;">In Cart</a></button>

							<span style="margin: 0rem 0.8rem;"></span>
		
							<button type="submit" class="btn btn-danger">Remove ?</button>
						</div>
		
						{% else %}
						<button class="btn btn-success btn-block">Add To Cart </button>
						{% endif %}
					</span>
				</form>
			</div>
		</div>
	</div>

	<div id="reviews-section">
		<div id="review-form-section">
			<form method="POST" id="review-form">
				{% csrf_token %}
				{{ form }}
	
				<input type="submit" value="Review" class="btn btn-success">
			</form>
		</div>

		<div id="reviews-content">
			<div id="review-heading">
				<h5 class="review-heading-text">Product Reviews</h5>
			</div>
			<div class="review">
				{% for review in reviews %} 
				<blockquote class="blockquote text-right">
					<p class="blockquote-text mb-0">{{review.description}}.</p>
					<footer class="blockquote-footer"><cite title="{{review.reviewed_by}}">{{review.reviewed_by}} </cite></footer>
				</blockquote>
				{% endfor %}
			</div>
			<div class="pagination">
				<span class="step-links">
					{% if reviews.has_previous %} 
					<a href="?page= 1"> &lt; &lt;First </a>
					<a href="?page= {{reviews.previous_page_number}}">Previous</a>
					{% endif %}
	
					<span class="current" style="margin-left: 8px;"> 
						Page {{reviews.number}} of {{reviews.paginator.num_pages}}
	
						{% if reviews.has_next %} 
						<a href="?page= {{reviews.next_page_number}}"> Next </a>
						<a href="?page= {{reviews.paginator.num_pages}}">Last</a>
						{% endif %}
					</span>
				</span>		
			</div>
		</div>
	</div>
</div>

<!-- 
<div class="row">
	<div class="col-md-12">
		<h1 style="margin-left: 7px;">Product Details </h1>
	</div>
</div>

<div class="row">
	<div class="col-md-4 col-xs-12">
		<div style="margin-left: 8px;">
			<img src="{{product.image.url}}" width="100%"> 
		</div>
	</div>	
	<div class="col-md-4 col-xs-12">
		<div style="margin-left: 20px;">
			<p><strong style="font-size: 20px;"> Title </strong> : {{product.title}} <br>
			    <strong style="font-size: 20px;">Description</strong> : {{product.description}} <br>
			    <strong style="font-size: 20px;">Price</strong> : &#8377; {{product.price}}
			</p>
		</div>

		<form method="POST" action="/cart/cartupdate/">
			{% csrf_token %}

			<input type="hidden" name="product_id" value="{{product.id}}">
			<span class="submit-span"> 

				{% if product in cart.products.all %}

				<div class="btn-group">
					<a href = "/cart" class="btn btn-primary checkout-button" style="margin-right: 20px;">In Cart</a>

					<button type="submit" class="btn btn-danger">Remove ?</button>
				</div>

				{% else %}

				<button class="btn btn-success">Add To Cart </button>


				{% endif %}
			</span>

		</form>

	</div>

	
	<div class="col-md-4 col-xs-12" style="padding-right: 20px;">
		<form method = "POST" >
			{% csrf_token %}
			{{ form.as_p }}

			<input type = "submit" value="Review" class="btn btn-warning">
		</form>
		
	</div>
</div>

<div class="row">
	<div class="col-md-8">
		<hr>
		<h3 style="padding-left: 10px;"> Product Reviews </h3>
		<div style="border: 1px solid #aaa; padding-right: 8px; margin-left: 5px; ">

			{% for review in reviews %}  
			<blockquote class="blockquote text-right">  
				<p class="mb-0" style="font-size: 18px;"> {{review.description}}.</p>
				<footer class="blockquote-footer"> <cite title="{{review.reviewed_by}}">{{review.reviewed_by}} </cite>
				</footer>			
			</blockquote>

		    {% endfor %}
		</div>

		<div class="pagination">
			<span class="step-links">
				{% if reviews.has_previous %} 
				<a href="?page= 1"> &lt; &lt;First </a>
				<a href="?page= {{reviews.previous_page_number}}">Previous</a>
				{% endif %}

				<span class="current" style="margin-left: 8px;"> 
					Page {{reviews.number}} of {{reviews.paginator.num_pages}}

					{% if reviews.has_next %} 
					<a href="?page= {{reviews.next_page_number}}"> Next </a>
					<a href="?page= {{reviews.paginator.num_pages}}">Last</a>
					{% endif %}
			    </span>
			</span>		
        </div>
	</div>
</div> -->

{% endblock %}